link rel='stylesheet' type='text/css' href='/footer.css'
nav id='footer-menu' class='navbar navbar-fixed-bottom'
  .copyright
    | Code at Github: <a class=lightlink href='https://github.com/BUEZE/bueze'>BUEZE/bueze</a>
