#price_green{
  color: #44B39C;
}

#price_red{
  color: #FF6057;
}

.text-center{
  text-align: center;
  vertical-align: middle;
}

.book-store-center{
  text-align: center;
  color: #FF6057;
}

.fontmid{
  text-align: center;
  font-size: 130%;
}

.fontbig{
  text-align: center;
  font-size: 180%;
}

.noborder{
  border: 0;
}

.wid1{
  width: 5px;
}
