body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.copyright{
  text-align: center;
  color: white;
}

#list_title {
	display: inline;
}

#chart_title {
	display: inline;
	padding-left: 10px;
}

#prev_list {
	display: inline;
}

#next_list {
	display: inline;
	padding-left: 10px;
}

#list_navigator {
	height: 30px;
}